/* .carousel-item{
    background-color:black;
    width:500px;
    height:50px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    } */
svg {
    display: block;
    border: none;
    margin: 0;
}

.up {
    transform: rotate(180deg);
    border: none;
    margin: 0;
    margin-top: -0.1vw;
}

.element1 {
    margin-top: 0vw;
    margin-right: 3vw;
}

.reviews {
    background-color: rgb(114, 142, 168);
    border: none;
    margin-top: -0.1vw;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.element3 p {
    margin: 0;
    position: relative;
    text-align: left;
}

.reviewwhite {
    color: rgb(193, 207, 218);
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    margin-top: -1.4vw;
    margin-bottom: 2vw;
}

.element2 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.subelement {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgb(246, 239, 231);
    width: fit-content;
    padding: 2vw 8vw 2vw 8vw;
    border-radius: 2vw;
}

.elem2_elem3 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 2vw;
    font-size: 2vw;
}

.subelement1 p {
    color: rgb(116, 148, 177);
    margin-right: 26vw;
    font-size: 1.8vw;
    padding: top 1vw;
    ;
}

.element1 img {
    width: 17vw;
    height: 17vw;
}

.subelement2 img {
    width: 12vwvw;
    height: 3.2vw;
}

.carousel-control-prev {
    margin-top: 37.4vw;
    margin-left: 45vw;
}

.leftarrow {
    height: 3vw;
}

.carousel-control-next {
    margin-top: 37vw;
    margin-right: 46vw;
}

.rightarrow {
    height: 3vw;
}

.rightarrow :hover {
    opacity: 1;
}

p {
    margin: 0vw;
}

.vectorimage {
    height: 1vw;
    width: 1vw;
}

.name {
    border-radius: 2vw;
    background-color: rgb(217, 217, 217);
    width: fit-content;
    margin-bottom: 0.7vw;
}

.sub_name {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

#b1,
#b2,
#b3,
#b4,
#b5 {
    display: flex;
    flex-direction: row;
    margin-left: -5vw;
    padding: 0;
    border: none;
    margin-right: 1vw;
}

.para {
    color: rgb(114, 140, 171);
    font-size: 1.5vw;
    min-width: 30vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
}

#ih1,
#ih2,
#ih3,
#ih4,
#ih5 {
    margin-left: 1vw;
}

/* p{margin: 0;}
.vectorimage{height:1vw;width: 1vw;}
#b1,#b2,#b3,#b4,#b5{padding:0;border:none;height:fit-content;margin-right: 2vw;width: fit-content;height:0;margin-top: -1.5vw;}
.sub_name{display:flex;flex-direction: row;align-items: center;}
.name{border-radius: 2vw;background-color:rgb(217,217,217) ;width: fit-content;}
.para{margin-left: 1vw;align-items: center;margin-right:8vw;font-size: 1vw;}
#b1{margin-left: 2vw;}
#b2{margin-left: 1.2vw;}
#b3{margin-left: -3.2vw;}
#b4{margin-left: -1.2vw;}
#b5{margin-left: 1.8vw;} */
.order {
    margin-top: -27vw;
}

.orders {
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 239, 231);
    padding-top: 0vw;
    font-size: 1.5vw;
    color: rgb(28, 101, 190);
}


.order1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 15vw;
}

.order1_1 {
    font-size: 3vw;
    color: rgb(175, 189, 205);
    margin-bottom: 1vw;
}

.order1_3 {
    background-color: rgb(120, 150, 177);
    color: rgb(236, 231, 230);
    font-size: 2vw;
}

.order1_3 {
    border-radius: 2vw;
    padding: 0;
    margin-top: 1vw;
}

.button1 {
    color: rgb(239, 242, 230);
    border: none;
    border-radius: 2vw;
    padding: 0vw 4vw 0vw 4vw;
    background-color: rgb(120, 150, 177);
}


.vectorimageplus {
    height: 2vw;
    width: 2vw;
}

.order2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 15vw;
    font-size: 1.5vw;
}

.subpolices,
.suboptiontocreate,
.subtemp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.policies,
.optiontocreate,
.temp {
    color: rgb(201, 191, 159);
}

#bb1,
#bb2,
#bb3 {
    margin-left: 5vw;
    padding: 0;
    border: none;
    margin-right: 1vw;
}

.order2 {
    background-color: rgb(246, 239, 231);
}

.qanda {
    color: rgb(174, 188, 201);
    font-size: 3vw;
    margin-bottom: 2vw;
}

.policies {
    margin-bottom: 2vw;
}

.optiontocreate {
    margin-bottom: 2vw;
}

.temp {
    margin-bottom: 2vw;
}

#emptyplusscroll1,
#emptyplusscroll2,
#emptyplusscroll3 {
    margin-top: 1vw;
    color: rgb(195, 157, 70);
}

.navbar{background-color: rgb(246,239,231);color: rgb(121,168,180);padding-bottom: 2vw;}
.contents{width: fit-content;margin-left: 1vw;text-align: center;}
#bloom{margin-right: 5.5vw;font-size: 2.5vw;margin-top: 1.7vw;color: rgb(97,131,143);}


.contents ul li {
    font-size: 2vw;
    list-style: none;
    text-decoration: none;
    margin-right: 2.2vw;
    margin-top: 2vw;
}

.formenu {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
    align-items: center;
}
.eng{margin-right: 1.5vw;margin-top: 0.5vw;}
.menubar img{height: 2vw;width:2vw}
.orignalcontents{
    display: flex;
    flex-direction: column;
}
.menubutton{border: none;}
.flipcontents{display: flex;flex-direction: row;}